.modal_body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal_exit {
    width: 100vw;
    height: 100vh;
    background: #0000003d;
}

.modal_button_close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.modal_floating {
    position: absolute;
    background: var(--theme-white);
}

.modal_floating.top-left {
    top: 1em;
    left: 1em
}
.modal_floating.top-center {
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
}
.modal_floating.top-right {
    top: 1em;
    right: 1em;
}
.modal_floating.center-left {
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
}
.modal_floating.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal_floating.center-right {
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
}
.modal_floating.bottom-left {
    bottom: 1em;
    left: 1em;
}
.modal_floating.bottom-center {
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}
.modal_floating.bottom-right {
    bottom: 1em;
    left: 1em;
}