.form_checkbox_body {
    display: flex;
    gap: 1em;
    padding: var(--standard-padding-equal);
    border: 1px solid var(--primary-accent);
    border-radius: 4px;
    justify-content: space-between;
}
